:root{
    --mainColor: #cff1d7;
    --secondaryColor: #87e2a2;
    
    --borderColor: #ace4ba;
    --borderShadow: 28px 28px 55px #bcdbc4, 
             -28px -28px 55px #e2ffea;
    --secondaryShadow:  13px 13px 26px #7fd498, 
             -13px -13px 26px #8ff0ac; 
    --profilePicShadow: 12px 13px 16px -12px rgba(0,0,0,0.75);   
    --previewBoxShadow: inset 5px 5px 10px #9fbaa6, 
                inset -5px -5px 10px #ffffff;      
             
    --inputField: inset 8px 8px 24px #7fd498, 
            inset -8px -8px 24px #8ff0ac;        
    
    --mainText: black;
    --secondaryText: #4b5156;
    
    --themeDotBorder: #4b6e77;
    
    --previewBg: #cff1d7;
    
    --buttonColor: #7aca92;
    
}

html, body {
    padding: 0;
    margin: 0;
    
}

body *{
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

li, span, label, input, text-area{
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

p{
    color: var(--mainText);
    font-family: 'Open Sans', monospace;
    font-weight: 300;
    letter-spacing: 1.15px;
}

a{
    text-decoration: none;
    color: #316574;
}

ul{
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
    
}

.intro-wrapper{
    background-color: var(--mainColor);
    border: 1px var(--borderColor);
    border-radius: 5px 5px 0 0;
    
    box-shadow: var(--borderShadow);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation a{
    color: inherit;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #5dc443;
}

#dot-2{
    background-color: #267dce;
}

#dot-3{
    background-color: #922c1e;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic{
    display: block;
    margin: 0 auto;
    
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    
    box-shadow: var(--profilePicShadow);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000000;
    box-shadow: var(--borderShadow);
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
}

.theme-dot:hover{
    border-width: 4px;
}

#green-mode{
    background-color: #cff1d7;
}

#black-mode{
    background-color: rgb(0, 0, 0);
}

#blue-mode{
    background-color: rgb(147, 213, 240);
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    
    padding-top: 50px;
    padding-bottom: 50px;
}


#preview{
    width: 300px;
    background-color: var(--previewBg);
    padding: 15px 25px;
    position: relative;
    border-radius: 50% 20% / 10% 40%;
    box-shadow: var(--previewBoxShadow);
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--mainColor);
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

#social-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--borderColor);
    box-shadow:  var(--previewBoxShadow);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview{
    background-color: white;
    padding: 15px;
}

.post-title{
    color: black;
    margin: 0;
}

.post-intro{
    color: rgb(71, 71, 71);
    font-size: 14px;
}

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 50px;
    background-color: var(--secondaryColor);
    box-shadow: var(--secondaryShadow);
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
	background: var(--secondaryColor);
	box-shadow: var(--inputField);
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--secondaryColor);
    box-shadow: var(--inputField);
}

#submit-btn{
    margin-top: 10px;
	width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
	color: black;
	background-color: var(--buttonColor);
	border: none;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
    grid-template-columns: 1fr;
    grid-template-areas: 
        'nav-wrapper'
        'left-column' 
        'right-column';
    }
    
    .right-column{
        justify-content: center;
    }
}